<a-entity id="input-devices">
  <a-entity id="keyboard" keyboard>
    <a-text
    id="info-text"
    width="2"
    value=""
    font="/fonts/SpaceMono-Regular-msdf.json"
    align="left"
    negate="false"
    position="-0.65 1 -0.45"
    rotation="-29 0 0"
    >
    </a-text>
    <a-text
      id="loading-text"
      width="1"
      value=""
      font="/fonts/SpaceMono-Regular-msdf.json"
      align="left"
      negate="false"
      position="-0.65 1.08 -0.5"
      rotation="-29 0 0"
      >
    </a-text>
  </a-entity>
</a-entity>