<a-entity id="pause-gameover-panel" position="0 1.5 -0.49" visible="false"
  geometry="primitive: roundedRect; width:1.3; height: 0.8" material="shader: flat; color: #888888; transparent: true; opacity: 0.35">
  <a-text id="pause-gameover-text" width="2" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center"
    value="Game Over" position="0 0.30 0.01"></a-text>
  <a-text id="score-text" width="1.3" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center"
    value="Score: 0" position="0 0.20 0.01"></a-text>
  <a-text id="accuracy-text" width="1.3" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center"
    value="Accuracy: 0%" position="0 0.14 0.01"></a-text>
  <a-text id="rank-text" width="1.2" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center"
    value="Rank: F" position="0 0.08 0.01"></a-text>
  <a-text id="stats-text" width="1.2" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center"
    value="Excellent 0 | Good 0 | Bad 0 | Miss 0" position="0 -0.08 0.01"></a-text>
    <a-entity id="retry-button" material="shader: flat; color: #fff; transparent: true; opacity: 0.2"
    geometry="primitive: roundedRect; width: 0.15; height: 0.06" position="-0.2 -0.24 0.01" button="highlightColor:#ffffff; highlightOpacity:0.5" clickable
    collider="group: pauseMenu; static: true" shape="type: rect">
    <a-text position="0 0.015 0" width="0.13" wrap-count="5" font="/fonts/SpaceMono-Regular-msdf.json" negate="false"
      align="center" value="Retry"></a-text>
  </a-entity>
  <a-entity id="back-to-menu-button" material="shader: flat; color: #fff; transparent: true; opacity: 0.2"
    geometry="primitive: roundedRect; width: 0.15; height: 0.06" position="0.2 -0.24 0.01" button="highlightColor:#ffffff; highlightOpacity:0.5" clickable
    collider="group: pauseMenu; static: true" shape="type: rect">
    <a-text position="0 0.015 0" width="0.13" wrap-count="5" font="/fonts/SpaceMono-Regular-msdf.json" negate="false"
      align="center" value="Menu"></a-text>
  </a-entity>
</a-entity>

<a-entity id="menu" menu position="0 1.5 -0.5">
  <a-entity id="left-panel" position="-0.8 0.15 0.21" rotation="0 57.2957795 0"
    geometry="primitive: roundedRect; width:0.5; height:0.5" material="shader: flat; color: #888888; transparent: true; opacity: 0.35">
    <a-text width="1" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="left" value="About"
      position="-0.21 0.2 0.01">
    </a-text>
    <a-text width="0.6" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="left"
      value="Cadenza!! is a free to play \nrhythm game inspired by the \nlikes of Deemo and Chunithm.\n It is built using A-Frame\n and three.js."
      position="-0.21 0.06 0.01">
    </a-text>
    <a-text id="game-mode-label" width="0.8" font="/fonts/SpaceMono-Regular-msdf.json" negate="false"
      align="left" value="Game Mode" position="-0.21 -0.065 0.01">
    </a-text>
    <a-entity id="game-mode-select" position="0 -0.15 0.01"
      spinner="width: 0.2; wrapCount: 15; min: 0; max: 1; showOutline: false; displayedValues: Keyboard|Taiko">
    </a-entity>
  </a-entity>
  <a-entity
    id="center-panel"
    position="0 0 -0.01"
    geometry="primitive: roundedRect; width:1.3; height: 0.8"
    material="shader: flat; color: #888888; transparent: true; opacity: 0.35"
  >
    <a-text id="title-text" width="1.3" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center" value="Title" position="0 0.32 0.01"></a-text>
    <a-text id="artist-text" width="1.15" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center" value="Artist" position="0 0.25 0.01"></a-text>
    <a-text id="mapper-text" width="0.7" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center" value="Mapped by:" position="0 0.19 0.01"></a-text>
    <a-entity
      id="song-select"
      position="0 0 0.01"
      windowed-selector="maxVisibleItems: 5; imageWidth: 0.18; imageHeight:0.18; spacing: 0.05">
      <a-entity 
        id="shift-left-button" 
        position="-0.6 0 0" 
        rotation="0 0 180" 
        geometry="primitive: triangle; vertexB: -0.025 0.05 0; vertexA: 0.025 0 0; vertexC: -0.025 -0.05 0" 
        material="shader: flat; color: #fff; transparent: true; opacity: 0.2" 
        button="highlightColor:#ffffff; highlightOpacity:0.5" 
        clickable="activationTime: 1; showProgressRing: false; repeatOnHold: true"
        collider="group: menu; static: true"
        shape="type: rect">
      </a-entity>
      <a-entity 
        id="shift-right-button"
        position="0.6 0 0"
        geometry="primitive: triangle; vertexB: -0.025 0.05 0; vertexA: 0.025 0 0; vertexC: -0.025 -0.05 0"
        material="shader: flat; color: #fff; transparent: true; opacity: 0.2"
        button="highlightColor:#ffffff; highlightOpacity:0.5"
        clickable="activationTime: 1; showProgressRing: false; repeatOnHold: true"
        collider="group: menu; static: true"
        shape="type: rect">
      </a-entity>
    </a-entity>
    <a-entity
      id="difficulty-select"
      position="0 -0.15 0.01"
      spinner="width: 0.2; wrapCount: 15; min: 0; max: 2; showOutline: false; displayedValues: Easy|Medium|Hard">
    </a-entity>
    <a-entity
      id="play-button"
      material="shader: flat; color: #fff; transparent: true; opacity: 0.2"
      geometry="primitive: roundedRect; width: 0.15; height: 0.06"
      position="0 -0.24 0.01"
      button="highlightColor:#ffffff; highlightOpacity:0.5"
      clickable
      collider="group: menu; static: true"
      shape="type: rect">
      <a-text position="0 0.015 0" width="0.12" wrap-count="4" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center" value="Play"></a-text>
    </a-entity>
    <a-entity
      id="save-button"
      material="shader: flat; color: #fff; transparent: true; opacity: 0.2"
      geometry="primitive: roundedRect; width: 0.15; height: 0.06"
      position="0 -0.32 0.01"
      button="highlightColor:#ffffff; highlightOpacity:0.5"
      clickable
      collider="group: menu; static: true"
      shape="type: rect">
      <a-text position="0 0.015 0" width="0.12" wrap-count="4" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="center" value="Save"></a-text>
    </a-entity>
  </a-entity>
  <a-entity
    id="right-panel"
    position="0.8 0 0.21"
    rotation="0 -57.2957795 0"
    geometry="primitive: roundedRect; width:0.5; height:0.8"
    material="shader: flat; color: #888888; transparent: true; opacity: 0.35"
  >
    <a-text
      width="1"
      font="/fonts/SpaceMono-Regular-msdf.json"
      negate="false"
      align="left"
      value="Settings"
      position="-0.21 0.35 0.01">
    </a-text>
    <a-text
      id="hitSoundSettingLabel"
      width="0.8"
      font="/fonts/SpaceMono-Regular-msdf.json"
      negate="false" 
      align="left"
      value="Hit Sounds"
      position="-0.19 0.21 0.01">
    </a-text>
    <a-entity
      id="hitSoundSetting"
      position="0.17, 0.19, 0.01"
      rotation="0 0 0"
      geometry="primitive: plane; width:0.05; height: 0.05;"
      material="visible:false"
      checkbox="value:true"
      setting="name: hitSoundsEnabled; component: checkbox"
      clickable="activationTime: 1; showProgressRing: false"
      collider="group: menu; static: true"
      shape="type: rect"
    >
    </a-entity>
    <a-text
      id="timingOffsetSettingLabel"
      width="0.8"
      font="/fonts/SpaceMono-Regular-msdf.json"
      negate="false" 
      align="left"
      value="Timing offset\n(ms)"
      position="-0.19 0.1 0.01">
    </a-text>
    <a-entity
      id="timingOffsetSetting"
      position="0.17, 0.09, 0.01"
      rotation="0 0 0"
      spinner="width: 0.06; wrapCount: 4; increment: 10; min: 0;"
      setting="name: timingOffset; component: spinner"
    ></a-entity>
    <a-text
      id="keyboardHeightSettingLabel"
      width="0.8"
      font="/fonts/SpaceMono-Regular-msdf.json"
      negate="false" 
      align="left"
      value="Keyboard height\noffset"
      position="-0.19 0 0.01">
    </a-text>
    <a-entity
      id="keyboardHeightSetting"
      position="0.17, -0.01, 0.01"
      rotation="0 0 0"
      spinner="width: 0.06; wrapCount: 4; increment: 0.1"
      setting="name: keyboardHeightOffset; component: spinner"
    ></a-entity>
    <a-text id="lightIntensitySettingLabel" width="0.8" font="/fonts/SpaceMono-Regular-msdf.json" negate="false"
      align="left" value="Sky Brightness" position="-0.19 -0.1 0.01">
    </a-text>
    <a-entity 
      id="lightIntensitySetting" 
      position="0.17, -0.11, 0.01" 
      rotation="0 0 0"
      spinner="width: 0.06; wrapCount: 4; increment: 0.1; min: 0; max: 1; value: 1"
      setting="name: lightIntensity; component: spinner"></a-entity>
    <a-text id="malletAdjustText" width="0.8" font="/fonts/SpaceMono-Regular-msdf.json" negate="false" align="left"
      value="Hold down both\ntriggers to adjust\n mallet positions" position="-0.19 -0.25 0.01">
    </a-text>
  </a-entity>
</a-entity>
