<a-entity
  id="camera"
  camera="far: 2500; near: 0.1"
  look-controls="enabled: false"
  position="0 1.6 0.5"
  rotation="-10 0 0"
  game-camera
></a-entity>

<a-entity
  id="leftHand"
  laser-controls="hand: left"
  raycaster="objects: [clickable]"
  haptics
>
  <a-entity>
    <a-box id="mallet1" mixin="mallet" rotation="90 0 0">
      <a-entity id="mallet-head1" mixin="mallet-head" mallet="handEl:#leftHand">
      </a-entity>
    </a-box>
  </a-entity>
</a-entity>

<a-entity
  id="rightHand"
  laser-controls="hand: right"
  raycaster="objects: [clickable]"
  haptics
>
  <a-entity>
    <a-box id="mallet2" mixin="mallet" rotation="90 0 0">
      <a-entity id="mallet-head2" mixin="mallet-head" mallet="handEl:#rightHand">
      </a-entity>
    </a-box>
  </a-entity>
</a-entity>